.bbc body{
    margin: 0;
    padding: 0;
}
.bbc #topbar{
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    height: 40px;
}

.bbc #logo{
    margin-top:8px;
    width: 84px;
    height: 24px;
    float: left;
    margin-right: 8px;
}
.bbc .topbar-section{
    float: left;
    border-left: 1px #999999 solid;
    height: 100%;
}
.bbc #signin-texto{
    font-weight: bold;
    font-size: 85%;
    position: relative;
    top: 14px;
    float: right;
    left: 5px;
    padding-right: 50px;
}
.bbc .topbar-menu{
    font-weight: bold;
    font-size: 85%;
    padding: 13px 15px 0 15px;
    height: 27px;
}
.bbc .fas fa-arrow-down{
    width: 4%;
    margin-left: 30px;
}
.bbc #searchForm{
    background-color: #e4e4e4;
    border: none;
    font-weight: bold;
    font-size: 14px;
    width: 180px;
    float: left;
    margin: 5px 0px 5px 5px;
    padding: 5px;
}